/* line 2, ../sass/styles.scss */
#dozer {
  width: 100px;
  margin-top: -50px;
}

/* line 6, ../sass/styles.scss */
#bm-front {
  width: 80px;
}

/* line 9, ../sass/styles.scss */
#services {
  padding-top: 60px;
}
/* line 12, ../sass/styles.scss */
#services ul {
  list-style: circle;
  width: 60%;
  margin: auto;
}

/* line 19, ../sass/styles.scss */
#header.alt.not-front {
  color: #031927;
}

/* line 25, ../sass/styles.scss */
.contact header p {
  margin-bottom: 0;
}
/* line 28, ../sass/styles.scss */
.contact header h4 {
  text-decoration: underline;
  margin-top: 1em;
}

/* line 36, ../sass/styles.scss */
.boremaster header.special:before, .boremaster header.special:after {
  width: 35%;
}
/* line 40, ../sass/styles.scss */
.boremaster header h2 {
  margin-top: 100px;
}
/* line 44, ../sass/styles.scss */
.boremaster #bm {
  width: 125px;
}
