/* line 2, ../sass/styles.scss */
#services {
  padding-top: 60px;
}
/* line 5, ../sass/styles.scss */
#services ul {
  list-style: circle;
  width: 60%;
  margin: auto;
}

/* line 12, ../sass/styles.scss */
#header.alt.not-front {
  color: #031927;
}
